[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = https://github.com/draveness/hugo-lithium.git
	branch = master
[submodule "themes/simple"]
	path = themes/simple
	url = https://github.com/barklan/hugo-dead-simple.git
